* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  font-size: 1.5vw;
}

p {
  margin: 0;
}

.flexSpaceBetween {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flexLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}

.flexEventList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eventBox {
  border: 0;
  border-radius: 0.8vw;
  box-shadow: 2px 2px 5px darkgrey;
  text-align: left;
  width: max-content;
  margin: 1rem;
}

.eventBoxContent {
  width: 20rem;
  padding: 1rem;
}

.eventBox > .skinTypeTag {
  margin-top: 10px;
}

.priceEventBox {
  font-weight: bold;
  margin: 0;
}

.priceEventBox > span {
  font-weight: normal;
  margin: 0;
}

.imageTest {
  height: inherit;
  width: 10rem;
  border: 1px transparent;
  border-radius: 0.8vw 0 0 0.8vw;
  background-image: url("https://img.freepik.com/free-photo/woman-home-applying-cream-mask_1303-24618.jpg?w=2000&t=st=1684417040~exp=1684417640~hmac=01266b91a9c6f9cd1c2f28008ee326adb6c6ce03a324a48c23867a6dbf752a57");
  background-size: cover;
  background-position: center;
}

.reviewSmall {
  border: 1px transparent;
  border-radius: 0.8vw;
  background-color: #B6C7B9;
  display: inline;
  padding: 0.4vw 0.8vw;
}
.reviewSmall > span {
  color: white;
  font-size: inherit;
}

.skinTypeTag {
  font-size: 1.2vw;
  border: 1px transparent;
  border-radius: 0.8vw;
  background-color: #c9bde5;
  alignment: right;
  padding: 1px 5px;
  width: max-content;
  height: max-content;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: bold;
}


h3 {
  font-size: 30px;
  font-weight: bold;
}

h4 {
  font-size: 1.5vw;
  font-weight: bold;
}

.textRight{
  text-align: right;
}

#logo {
  font-size: 3rem;
  color: black;
  text-decoration: none;

}

#footer {
  height: 4.5rem;
  text-align: center;
  background-color: #B6C7B9;
  padding: 1.5rem
}

#footer > a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}

#footer > a:hover {
  text-decoration: underline;
}


@media  (max-width: 600px) {

  .flexEventList {
    flex-direction: column;
  }

  p, h4, .priceEventBox, .priceEventBox > span {
    font-size: 3vw;
  }

  .skinTypeTag {
    font-size: 2.4vw;
  }

  .eventBoxContent {
    width: 40rem;
  }

  .imageTest {
    width: 20rem;
  }
}

